<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu Principal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-header">
    <h1>Bem-vindo!</h1>
    <p>O que você deseja fazer hoje?</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of menuItems">
        <ion-card mode="ios" (click)="navegar(item.route)" class="menu-card">
          <ion-card-content>
            <ion-icon [name]="item.icon" [color]="item.color"></ion-icon>
            <h2>{{ item.title }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
