<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Resumo dos Chamados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Total de Chamados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1 class="ion-text-center" style="font-size: 3em; margin: 0;">{{ totalChamados }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-list-header>
    <ion-label>Por Status</ion-label>
  </ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of porStatus">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-header>
            <ion-card-subtitle>{{ item.label }}</ion-card-subtitle>
            <ion-card-title>{{ item.count }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header>
    <ion-label>Por Prioridade</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let item of porPrioridade">
      <ion-label>{{ item.label }}</ion-label>
      <ion-badge slot="end" color="secondary">{{ item.count }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
